<html ng-app="plumbApp">
<head>
	<meta charset="utf-8">
	<script src="../common/js/jquery-1.9.0-min.js"></script>
	<script src="../common/js/jquery-ui-1.9.2-min.js"></script>
	<script src="../common/js/jquery.jsPlumb-1.4.1-all-min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/example.js"></script>

	<link rel="stylesheet" href="../common/css/bootstrap.min.css">
	<link rel="stylesheet" href="../common/css/common.css">

	<title>Freelook BPM</title>
</head>

<body ng-controller="PlumbCtrl">
<div class="demo">
	<h1>Freelook BPM</h1>

	<p>Тестовый пример дизайнера</p>

	<div id="container" class="drop-container" ng-click="addEvent($event)" droppable>
		<div id="menu-container">
			<div plumb-menu-item class="menu-item" ng-repeat="module in library"
			     ng-style="{ 'left':module.x, 'top':module.y }"
			     data-identifier="{{module.library_id}}" draggable>
				<div class="summary">{{module.title}}</div>
			</div>
		</div>
		<div plumb-item class="item" ng-repeat="module in schema" ng-style="{ 'left':module.x, 'top':module.y }"
		     data-identifier="{{module.schema_id}}">
			<div class="title">{{module.title}}</div>
			{{module.description}}
			<div plumb-connect class="connect"></div>
		</div>
	</div>

	<button type="button" class="btn btn-redraw" ng-click="redraw()">Очистка</button>


	<div post-render></div>
</div>
</body>


</html>
